.tabpage-config-container {
  .ant-form-item {
    width: 100%;
    max-width: 666px;
    padding: 10px 15px;
  }
  .ant-form-item-label {
   width: 117px ; 
  }
  .ant-form-item-label > label {
    color: var(--grey-text);
  }
}