@import './reset-antd.less';
@import './normalize.css';
@import './font-awesome.min.css';
@import './index.css';

#root {
  min-height: 100%;
  color: var(--grey-text);
  font-family: "Titillium Web", Arial, sans-serif;

  input::placeholder {
    color: #767676;
  }
  .dialog {
    color: #999EA3;
  }
  .ant-input {
    border: 1px solid var(--darker-grey-bg);
    border-radius: 4px;
    height: 20px;
    width: 80%;
    padding: 5px 10px;
    background-color: var(--grey-text);
    flex-grow: 8;
    font-size: 14px;
    box-sizing: content-box;
    &:focus {
      border: 1px solid var(--gold-text)
    }
  }
  .ant-btn:hover {
    border-color: var(--gold-text);
    background-color: var(--gold-text);
    color: #fff;
  }
  .ant-table-thead > tr > th {
    background-color: var(--darker-grey-bg);
    color: var(--grey-text);
    border-bottom: none;
  }
  .ant-table-tbody > tr > td {
    border-bottom: 1px solid #5B5B5B;
  }
  .ant-table-tbody > tr:hover > td {
    background: unset;
  }
  .ant-table-thead > tr > th {
    padding: 10px;
  }
  .ant-table-tbody > tr > td {
    padding: 5px 10px;
  }
  .ant-form-item-label > label {
    color: var(--grey-text);
    flex-basis: 120px;
    &::after {
      display: none;
    }
  }
  .ant-form-inline .ant-form-item > .ant-form-item-label {
    width: 117px;
    text-align: left;
  }
  .ant-form-inline .ant-form-item {
    margin-right: 0;
  }
  .ant-table-placeholder {
    display: none;
  }
  .ant-table-footer {
    padding: 5px 10px;
    background-color: transparent;
    color: var(--grey-text);
    border-top: none;
    &::before {
      display: none;
    }
  }
  .ant-pagination-item, .ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    background-color: var(--lighter-grey-bg);
  }
  .ant-pagination-disabled .ant-pagination-item-link {
    color: var(--grey-text)
  }
  .ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis, .ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
    color: var(--grey-text);
  }
}