.account-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #2a2a2a;
  .loading-container {
    text-align: center;
    h1 {
      color: var(--gold-text);
    }
  }
}